* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.error {
    text-align: center;
    color: red;
}

.index__form {
  background: #ffffff;
  padding: 30px;
  width: 360px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.index__input {
  padding: 14px 15px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 8px;
  color: red;
}

.index ::-moz-placeholder {
  color: grey;
}

.index ::placeholder {
  color: grey;
}

.index__btn {
  padding: 14px;
  background: #000;
  color: red;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}

.index__btn:hover {
  background: #0c28c7;
  color: white;
  transition: all 1s ease;
}

.index__btn:active {
  background-color: #000;
  color: red;
}

.index__body {
  background: linear-gradient(150deg, #000000, rgb(15, 15, 15));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}